body {
    background-color: #dcd7c9;
    background-image: url("../sfondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.corpo {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    cursor: default;
    margin: 30px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    color:#a27b5c;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color:#a27b5c;
    font-size: 0.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

a:hover {
    color: rgba(214, 182, 155, 0.817);
    transition: 0.5s;
}

.titolo_contatti {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: #a27b5c;
    text-align: center;
    padding-top: 5%;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding-top: 2%;
}

.nome_testo {
    color: #a27b5c;
    font-weight: bold;
    padding-top: 2%;
    font-size: 2rem;
}

.foto_contatti {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.foto_contatti img {
    width: 25%;
    height: auto;
    margin: 0 40px;
}

.footer {
    display: block;
    background-color: #a27b5c;
    height: 70px;
}

.footer-info {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #fff;
    padding-left: 5%;
    padding-top: 7px;
}

.wrapper {
    padding-top: 20px;
    padding-right: 5%;
    float: right;
}

.wrapper i {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
}

@media only screen and (min-width:414px) and (max-width:1000px){

    nav ul {
        width: 100%;
        background: #a27b5c;
        position: absolute;
        top: 150px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
        font-size: 3rem;
        line-height: 1.5;
    }
    .menu-icon {
        display: block;
        width: 70px;
        padding-top: 5%;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .logo {
        font-size: 3rem;
        padding-top: 5%;
    }
    .titolo_contatti{
        font-size: 4rem;
        padding-top: 10%;
    }
    .nome_testo{
        font-size: 2.5rem;
    }
    p{
        font-size: 2rem;
    }
    .foto_contatti{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        padding-bottom: 10%;
    }
    .foto_contatti img{
        margin-bottom: 10%;
        width: 80%;
    }
    .footer{
        background-color: transparent;
    }
    .footer-info{
        display: none;
    }
    .wrapper{
        padding: 0;
        float: none;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .wrapper i {
        color: #a27b5c;
        font-size: 5rem;
        margin: 0 30px;
    }
}